<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>OXI Protocol</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <section class="container content-section-show", id="section-main">
        <div class="player-name-container">
            <img src="/static/images/user.png" alt="" style="width: 20px;height: 20px;object-fit: cover;filter: invert(1);margin-right: 2%;">
            <div id="player-name">Test Test </div>
        </div>
        <div class="content">
            <div class="planet">Planet XR-1</div>
            <div class="league">Bronze</div>
            <div id="data-in-load-tokens", class="data-in-load-tokens">
                <img src="/static/images/moneta.png" alt="", class="moneta-main-balance">
                <div id="main-balance"></div>
            </div>
        </div>
        <div class="panels-main"> </div>
        <div class="vault-main", id="panel-1-coins">
            <div class="progress-container">
                <div class="progress-bar" id="progress-bar"></div>
            </div>
            <div class="vault-text-container">
                <div class="vault-text", id="vault-text">
                    <div id="vault-text-main">Хранилище</div>
                </div>
            </div>
            <!-- <div id="timer">00:00:00</div> -->
            <!-- <div class="vault-level">lvl 1</div> -->
            <div class="tokens-value-vault">
                <div id="tokens-value-vault"></div>
                <div class="tokens-value-vault-text">OXI</div>
            </div>  
        </div>
        
        <div class="claim-tokens-button", id="claim-tokens-button">Собрать OXI</div>
        </div>
    </section>


    <section class="container-friends content-section-show", id="section-friends", style="display: none;">
        <div class="text-friends">Друзья</div>
        <div class="text-friends-text">Вы и ваш друг получите бонусы</div>
        <div class="friends-add">
            <div class="friends-all">
                Приглашено друзей
                <div class="friends-add-value", id="referals-value">0</div>
            </div>
            <div class="add-from-friends">Получено за приглашения<div class="friends-add-value" id="friends-add-value">0</div></div>
            <div class="friends-vip">Партнёрство<div class="friends-add-value">0</div></div>
        </div>
        <div class="referal-code-container">
            <div id="referal-code" style="margin-right: 3%;margin-left: 3%;">oxi_protocol_bot?start=</div>
        </div>
        <div class="copy-png", onclick="copyText()">
            <img src="/static/images/copy.png" alt="", class="copy-png-image">
        </div>
        <div id="invite-friends-button">Пригласить друзей</div>
    </section>


    <section class="container-upgrades content-section-show", id="section-upgrades", style="display: none;">
        <div class="main-text-upgrades-in">Улучшения</div>
        <div class="content-container-upgrades">
            <div class="navbar-module-update">
                <div class="button-switch", style="margin-left: 2%;">Майнеры</div>
                <div class="button-switch">Основные</div>
                <div class="button-switch", style="margin-right: 2%;">Доп</div>
            </div>
            <div class="bar-container">

                <div class="data-upgarde-module-lock">
                    <div class="lock-sloi">
                        <div class="module-value">1</div>
                        <div class="module-name">
                            <img src="/static/images/miner.png" alt="", class="img-miner-module">
                            Bronze Miner
                        </div>
                        <div class="level-miner", id="miner_1_lvl">None</div>
                        <div class="last-value-mine">
                            <div class="mine-text">Добыча в час:</div>
                            <img src="/static/images/moneta.png" alt="", style="width: 20px;height: 20px;object-fit: cover;">
                            <div id="miner_1_tokens_add">None</div>
                        </div>
                        <div class="button-upgrade-module", id="upgrade-menu-button">
                            <div class="price-to-upgrade">
                                <img src="/static/images/moneta.png" alt="", style="width: 20px;height: 20px;object-fit: cover;">
                                <div id="miner_1_price">None</div>
                            </div>
                            <div class="upgrade-text miner_1", id='upgrade-button-module_1'>Улучшить</div>
                        </div>
                    </div>
                </div>

                <div class="data-upgarde-module-lock">
                    <div class="lock-sloi">
                        <div class="module-value">2</div>
                        <div class="module-name">
                            <img src="/static/images/miner.png" alt="", class="img-miner-module">
                            Bronze Miner
                        </div>
                        <div class="level-miner", id="miner_2_lvl">None</div>
                        <div class="last-value-mine">
                            <div class="mine-text">Добыча в час:</div>
                            <img src="/static/images/moneta.png" alt="", style="width: 20px;height: 20px;object-fit: cover;">
                            <div id="miner_1_tokens_add">None</div>
                        </div>
                        <div class="button-upgrade-module", id="upgrade-menu-button">
                            <div class="price-to-upgrade">
                                <img src="/static/images/moneta.png" alt="", style="width: 20px;height: 20px;object-fit: cover;">
                                <div class="miner_1_price", id="miner_1_price">None</div>
                            </div>
                            <div class="upgrade-text", id='upgrade-button-module'>Улучшить</div>
                        </div>
                    </div>
                    <div class="lock-text-sloi">
                        <img src="/static/images/zamok.png" alt="", class="img-lock">
                        <div class="lock-text">Закрыто</div>
                    </div>
                </div>

                <div class="data-upgarde-module-lock">
                    <div class="lock-sloi">
                        <div class="module-value">1</div>
                        <div class="module-name">
                            <img src="/static/images/miner.png" alt="", class="img-miner-module">
                            Bronze Miner
                        </div>
                        <div class="level-miner", id="miner_1_lvl">None</div>
                        <div class="last-value-mine">
                            <div class="mine-text">Добыча в час:</div>
                            <img src="/static/images/moneta.png" alt="", style="width: 20px;height: 20px;object-fit: cover;">
                            <div id="miner_1_tokens_add">None</div>
                        </div>
                        <div class="button-upgrade-module", id="upgrade-menu-button">
                            <div class="price-to-upgrade">
                                <img src="/static/images/moneta.png" alt="", style="width: 20px;height: 20px;object-fit: cover;">
                                <div class="miner_1_price", id="miner_1_price">None</div>
                            </div>
                            <div class="upgrade-text", id='upgrade-button-module'>Улучшить</div>
                        </div>
                    </div>
                    <div class="lock-text-sloi">
                        <img src="/static/images/zamok.png" alt="", class="img-lock">
                        <div class="lock-text">Закрыто</div>
                    </div>
                </div>

                <div class="data-upgarde-module-lock">
                    <div class="lock-sloi">
                        <div class="module-value">1</div>
                        <div class="module-name">
                            <img src="/static/images/miner.png" alt="", class="img-miner-module">
                            Bronze Miner
                        </div>
                        <div class="level-miner", id="miner_1_lvl">None</div>
                        <div class="last-value-mine">
                            <div class="mine-text">Добыча в час:</div>
                            <img src="/static/images/moneta.png" alt="", style="width: 20px;height: 20px;object-fit: cover;">
                            <div id="miner_1_tokens_add">None</div>
                        </div>
                        <div class="button-upgrade-module", id="upgrade-menu-button">
                            <div class="price-to-upgrade">
                                <img src="/static/images/moneta.png" alt="", style="width: 20px;height: 20px;object-fit: cover;">
                                <div class="miner_1_price", id="miner_1_price">None</div>
                            </div>
                            <div class="upgrade-text", id='upgrade-button-module'>Улучшить</div>
                        </div>
                    </div>
                    <div class="lock-text-sloi">
                        <img src="/static/images/zamok.png" alt="", class="img-lock">
                        <div class="lock-text">Закрыто</div>
                    </div>
                </div>

            </div>
        </div>

        <div id="overlay" class="overlay">


            <div class="menu-to-confirm-upgrarde">
                <div id="close-menu-upgrade">
                    <img src="/static/images/krestic.png" alt="" id="close-menu-upgrade-img" style="width:100%;height:auto;object-fit:cover;filter: invert(1);">
                </div>
                <div class="text-upgrade-menu">Улучшение</div>
                <div class="confirm-update-button">Подтвердить</div>
                <div class="upgrade-module-price">
                    <div class="moneta-upgrade-module">
                        <img src="/static/images/moneta.png" alt="" style="width: 100%;height: auto;object-fit: cover;">
                    </div>
                    <div class="price-balance" id="module_1-price-balance">500 000</div>
                </div>
                <div class="module-name-upgrade">
                    <div class="module-name-confirm">
                        <img src="/static/images/miner.png" alt="", class="img-miner-module">
                        Bronze Miner
                    </div>
                </div>
                <div class="miner-text-price">Добывает монетки пока вы занимаетесь своими делами.</div>
                <div class="upgrade-module-tokens-add">Добыча в час:</div>
            </div>


        </div>        
    </section>


    <div class="main-menu-buttons">
        <div class="button-menu-buttons", onclick="showSection('section-main', this)">
            <div class="moneta-navigation-bar">
                <img src="/static/images/moneta.png" alt="", style="width: 100%;height: auto;object-fit: cover;">
            </div>
            <div class="text-menu-button">Токены</div>
        </div>
        <div class="button-menu-buttons", onclick="showSection('section-friends', this)">
            <div class="moneta-navigation-bar">
                <img src="/static/images/friends.png" alt="", style="width: 100%;height: auto;filter: invert(1);object-fit: cover;">
            </div>
            <div class="text-menu-button">Друзья</div>
        </div>
        <!-- <div class="button-menu-buttons big-button", onclick="showSection('section-upgrades', this)">
            <div class="moneta-navigation-bar">
                <img src="/static/images/upgrade.png" alt="", style="width: 100%;height: auto;filter: invert(1);object-fit: cover;">
            </div>
            <div class="text-menu-button">Улучшения</div>
        </div> -->
        <div class="button-menu-buttons big-button">
            <div class="moneta-navigation-bar">
                <img src="/static/images/zamok.png" alt="", style="width: 100%;height: auto;filter: invert(1);object-fit: cover;">
            </div>
            <div class="text-menu-button">Улучшения</div>
        </div>
        <div class="button-menu-buttons">
            <div class="moneta-navigation-bar">
                <img src="/static/images/zamok.png" alt="", style="width: 100%;height: auto;filter: invert(1);object-fit: cover;">
            </div>
            <div class="text-menu-button">Рынок</div>
        </div>
        <div class="button-menu-buttons">
            <div class="moneta-navigation-bar">
                <img src="/static/images/zamok.png" alt="", style="width: 100%;height:auto;filter: invert(1);object-fit: cover;">
            </div>
            <div class="text-menu-button">Атака</div>
        </div>
    </div>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>