<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OXI Protocol</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="C:\dev\OXIGame\Core(Python)\OXI_PROTOCOL\static\css\main.css">
</head>
<body>
    <section class="container content-section-show", id="section-main">
        <div class="content">
            <div class="version">V 0.2.0 beta</div>
            <div class="planet">Planet XR-1</div>
            <div class="league">Diamond ></div>
            <div id="data-in-load-tokens", class="data-in-load-tokens">
                <img src="/static/images/moneta.png" alt="", class="moneta-main-balance">
                <div id="main-balance">100,000,000</div>
            </div>
        </div>
        <div class="panels-main"> </div>
        <div class="vault-main", id="panel-1-coins">
            <div class="progress-container">
                <div class="progress-bar" id="progress-bar"></div>
            </div>
            <div class="vault-text-container">
                <div class="vault-text", id="vault-text">
                    <div id="vault-text-main">Хранилище</div>
                </div>
            </div>
            <div class="vault-level">lvl 1</div>
            <div class="tokens-value-vault">
                <div id="tokens-value-vault">0</div>
                <div class="tokens-value-vault-text">OXI</div>
            </div>  
        </div>
        
        <div class="claim-tokens-button", id="claim-tokens-button">Собрать OXI</div>
        </div>
    </section>


    <section class="container-friends content-section-show", id="section-friends", style="display: none;">
        <div class="text-friends">Друзья</div>
        <div class="text-friends-text">Вы и ваш друг получите бонусы</div>
        <div class="friends-add">
            <div class="friends-all">
                Приглашено друзей
                <div class="friends-add-value", id="referals-value">0</div>
            </div>
            <div class="add-from-friends">Получено за приглашения<div class="friends-add-value">0</div></div>
            <div class="friends-vip">Партнёрство<div class="friends-add-value">0</div></div>
        </div>
        <div id="referal-code">oxi_protocol_bot?start=</div>
        <div class="copy-png", onclick="copyText()">
            <img src="/static/images/copy.png" alt="", class="copy-png-image">
        </div>
        <div class="invite-friends-button", id="invite-friends-button">Пригласить друзей</div>
    </section>


    <section class="container-upgrades content-section-show", id="section-upgrades", style="display: none;">
        <div class="main-text-upgrades-in">Улучшения</div>
        <div class="content-container-upgrades">
            <div class="navbar-module-update">
                <div class="button-switch", style="margin-left: 2%;">Майнеры</div>
                <div class="button-switch">Основные</div>
                <div class="button-switch", style="margin-right: 2%;">Доп</div>
            </div>
            <div class="bar-container">
                <div class="data-upgarde-module-lock">
                    <div class="lock-sloi">
                        <div class="module-value">1</div>
                        <div class="module-name">
                            <img src="/static/images/miner.png" alt="", class="img-miner-module">
                            Bronze Miner
                        </div>
                        <div class="level-miner", id="miner_1_lvl">lvl 1</div>
                        <div class="last-value-mine">
                            <div class="mine-text">Добыча в час:</div>
                            <img src="/static/images/moneta.png" alt="", style="width: 20px;height: 20px;object-fit: cover;">
                            <div id="miner_1_tokens_add">1k</div>
                        </div>
                        <!-- <div class="button-upgrade-module", onclick="update('miner', 'miner_1')"> -->
                        <div class="button-upgrade-module", id="upgrade-menu-button">
                            <div class="price-to-upgrade">
                                <img src="/static/images/moneta.png" alt="", style="width: 20px;height: 20px;object-fit: cover;", id="miner_1_price">
                                <div class="miner_1_price">12.5k</div>
                            </div>
                            <!-- <div class="arrow-right">

                                <img src="static/images/strelka.png" alt="", style="filter: invert(1);width: 50px;height: 20px;object-fit: cover;">
                                <div class="new-value-mine">
                                    <img src="/static/images/moneta.png" alt="", style="width: 20px;height: 20px;object-fit: cover;">
                                    2k
                                </div>
                            </div> -->
                            
                            <div class="upgrade-text", id='upgrade-button-module'>Улучшить</div>
                        </div>
                        <!-- <div class="arrow-right">
                            <div class="last-value-mine">
                                <img src="/static/images/moneta.png" alt="", style="width: 30px;height: 30px;object-fit: cover;">
                                1k
                            </div>
                            <img src="static/images/strelka.png" alt="", style="filter: invert(1);width: 50px;height: 20px;object-fit: cover;">
                            <div class="new-value-mine">
                                <img src="/static/images/moneta.png" alt="", style="width: 30px;height: 30px;object-fit: cover;">
                                2k
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="data-upgarde-module-lock">
                    <div class="lock-sloi">
                        <div class="module-value">2</div>
                        <div class="module-name">
                            <img src="/static/images/miner.png" alt="", class="img-miner-module">
                            Bronze Miner
                        </div>
                        <div class="level-miner">lvl 1</div>
                        <div class="button-upgrade-module">Улучшить</div>
                    </div>
                    <div class="lock-text-sloi">
                        <img src="/static/images/zamok.png" alt="", class="img-lock">
                        <div class="lock-text">Закрыто</div>
                    </div>
                </div>
                <div class="data-upgarde-module-lock">
                    <div class="lock-sloi">
                        <div class="module-value">3</div>
                        <div class="module-name">
                            <img src="/static/images/miner.png" alt="", class="img-miner-module">
                            Bronze Miner
                        </div>
                        <div class="level-miner">lvl 1</div>
                        <div class="button-upgrade-module">Улучшить</div>
                    </div>
                    <div class="lock-text-sloi">
                        <img src="/static/images/zamok.png" alt="", class="img-lock">
                        <div class="lock-text">Закрыто</div>
                    </div>
                </div>
                <div class="data-upgarde-module-lock">
                    <div class="lock-sloi">
                        <div class="module-value">4</div>
                        <div class="module-name">
                            <img src="/static/images/miner.png" alt="", class="img-miner-module">
                            Bronze Miner
                        </div>
                        <div class="level-miner">lvl 1</div>
                        <div class="button-upgrade-module">Улучшить</div>
                    </div>
                    <div class="lock-text-sloi">
                        <img src="/static/images/zamok.png" alt="", class="img-lock">
                        <div class="lock-text">Закрыто</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="overlay", class="overlay">
            <div class="menu-to-confirm-upgrarde">
                <div id="close-menu-upgrade">
                    <img src="/static/images/krestic.png" alt="", style="width:100%;height:auto;object-fit:cover;">
                </div>
                <div class="text-upgrade-menu", onclick="update('miner', 'miner_1')">Улучшение</div>
                <div class="confirm-update-button"></div>
    
            </div>
        </div>
    </section>


    <div class="main-menu-buttons">
        <div class="button-menu-buttons", onclick="showSection('section-main', this)">
            <div class="moneta-navigation-bar">
                <img src="/static/images/moneta.png" alt="", style="width: 100%;height: auto;object-fit: cover;">
            </div>
            <!-- <img src="/static/images/moneta.png" alt="", class="moneta-navigation-bar"> -->
            <div class="text-menu-button">Токены</div>
        </div>
        <div class="button-menu-buttons", onclick="showSection('section-friends', this)">
            <div class="moneta-navigation-bar">
                <img src="/static/images/friends.png" alt="", style="width: 100%;height: auto;filter: invert(1);object-fit: cover;">
            </div>
            <div class="text-menu-button">Друзья</div>
        </div>
        <div class="button-menu-buttons big-button", onclick="showSection('section-upgrades', this)">
            <div class="moneta-navigation-bar">
                <img src="/static/images/upgrade.png" alt="", style="width: 100%;height: auto;filter: invert(1);object-fit: cover;">
            </div>
            <div class="text-menu-button">Улучшения</div>
        </div>
        <!-- <div class="button-menu-buttons big-button">
            <div class="moneta-navigation-bar">
                <img src="/static/images/zamok.png" alt="", style="width: 100%;height: auto;filter: invert(1);object-fit: cover;">
            </div>
            <div class="text-menu-button">Улучшения</div>
        </div> -->
        <div class="button-menu-buttons">
            <div class="moneta-navigation-bar">
                <img src="/static/images/zamok.png" alt="", style="width: 100%;height: auto;filter: invert(1);object-fit: cover;">
            </div>
            <div class="text-menu-button">Рынок</div>
        </div>
        <div class="button-menu-buttons">
            <div class="moneta-navigation-bar">
                <img src="/static/images/zamok.png" alt="", style="width: 100%;height:auto;filter: invert(1);object-fit: cover;">
            </div>
            <div class="text-menu-button">Атака</div>
        </div>
    </div>


    
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        let tg = window.Telegram.WebApp;
        let data_local;
        tg.expand();
        tg.setHeaderColor("#000000");

        const claimTokensButton = document.getElementById("claim-tokens-button");
        const counterVault = document.getElementById('tokens-value-vault');
        const dataContainer = document.getElementById('main-balance');
        const referalsValue = document.getElementById('referals-value');

        document.addEventListener("DOMContentLoaded", async () => {
            async function sendDataToServer(dataToSend) {
                try {
                    const response = await fetch('https://oxiprotocol.ru/api/data', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(dataToSend)
                    });
                    const result = await response.json();
                    return result;
                } catch (error) {
                    dataContainer.textContent = 'Server Error';
                }
            }

            const referalCodeContainer = document.getElementById('referal-code');
            const user = tg.initDataUnsafe.user;
            if (user) {
                const userData = {id: user.id};
                const dataUserFromServer = await sendDataToServer(userData);
                data_local = dataUserFromServer;
                dataContainer.textContent = dataUserFromServer['oxi_tokens_value'].toLocaleString('en-US');
                counterVault.textContent = dataUserFromServer['dynamic_fields']['added_tokens'].toLocaleString('en-US');
                referalCodeContainer.textContent = "https://t.me/oxi_protocol_bot?start=" + dataUserFromServer['dynamic_fields']['referal_code'];
                referalsValue.textContent = dataUserFromServer['dynamic_fields']['referals_value'];
            }

            claimTokensButton.addEventListener('click', async () => {
                const url = `https://oxiprotocol.ru/claim_tokens?${tg.initData}`;
                try {
                    const response = await fetch(url);
                    if (!response.ok) {
                        claimTokensButton.textContent = "Server Error";
                        return;
                    }
                    const data = await response.json();
                    animate_main_counter(data['oxi_tokens_value']);
                    vault_progress_bar(0);

                    counterVault.textContent = 0;
                    data_local = data;
                } catch (error) {
                    claimTokensButton.textContent = "Server Error";
                }
            });
            setInterval(vault_update, 1000);
            load_text();

            const menuButton = document.getElementById("upgrade-menu-button");
            const overlay = document.getElementById("overlay");
            const closeOverlay = document.getElementById("close-menu-upgrade");

            menuButton.addEventListener("click", () => {
                overlay.style.display = "flex";
            });

            overlay.addEventListener("click", (event) => {
                if (event.target === overlay) {
                    overlay.style.display = "none";
                }
            });

            closeOverlay.addEventListener("click", (event) => {
                if (event.target === overlay) {
                    overlay.style.display = "none";
                }
            });
            
            Telegram.WebApp.ready();
        });
        
        async function update(type, id) {
            const priceDiv = document.getElementById(id + "_price");
            const tokensAdd = document.getElementById(id + "_tokens_add");
            const level = document.getElementById(id + "_lvl");

            const dataToSend = {
                "_id": tg.initDataUnsafe.user.id,
                "type_update": type,
                "id_update": id
            };
            console.log(dataToSend);
            try {
                const response = await fetch('https://oxiprotocol.ru/api/update', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(dataToSend)
                });
                const result = await response.json();
                console.log(result);
                dataContainer.textContent = result['oxi_tokens_value'].toLocaleString('en-US');
                priceDiv.textContent = result['dynamic_fields']['new_update_price'];
                tokensAdd.textContent =  result['dynamic_fields']['new_update_tokens_add'];
                level.textContent = "lvl " + result['dynamic_fields'][id];
            } catch (error) {
                console.log("Error: ", error);
            }
        }

        function copyText() {
            const sourceDiv = document.getElementById('referal-code');
            const textToCopy = sourceDiv.innerText;
            const tempInput = document.createElement('textarea');
            tempInput.value = textToCopy;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);
        }

        const inviteButton = document.getElementById("invite-friends-button");
        inviteButton.addEventListener('click', async () => {
            const url = "Привет! Приглашаю тебя в новый проект OXI Mining Protocol. Скорее заходи " + document.getElementById('referal-code').textContent;
            const encodedUrl = encodeURIComponent(url);
            const telegramLink = `https://t.me/share/url?url=&text=${encodedUrl}`;
            tg.openTelegramLink(telegramLink);
        });

        function showSection(sectionId, element) {
            const sections = document.querySelectorAll('.content-section-show');
            sections.forEach(section => {
                section.style.display = 'none';
            });
            const sectionToShow = document.getElementById(sectionId);
            sectionToShow.style.display = 'block';

            const buttons = document.querySelectorAll('.button-menu-buttons');
            buttons.forEach(button => {
                button.classList.remove("active");
            });

            element.classList.add("active");
        }

        function vault_progress_bar(percentage) {
            const progressBar = document.getElementById('progress-bar');
            if (percentage == 0) {
                percentage = 1;
            }
            setProgress(percentage);
            function setProgress(percentage) {
                if (percentage < 0) percentage = 0;
                if (percentage > 100) percentage = 100;
                progressBar.style.height = percentage + '%';
            }
        };

        function vault_update() {
            const vault = document.getElementById("tokens-value-vault");
            const progress_bar = document.getElementById("progress-bar");
            const current_time = Math.floor(Date.now() / 1000);
            const time_difference = current_time - data_local['last_time_update'];
            const time_different_in_hours = time_difference / 3600;
            const added_tokens = Math.trunc(time_different_in_hours * data_local['tokens_hour']);
            const vault_size = data_local['dynamic_fields']['vault_size'];
            const percentage = Math.trunc(added_tokens / vault_size * 100);
            vault.textContent = vault_size;
            if (added_tokens < vault_size) {
                if (added_tokens < 0) {
                    vault.textContent = 0;
                    vault_progress_bar(percentage);
                } else {
                    vault.textContent = added_tokens;
                    vault_progress_bar(percentage);
                }
            } else {
                vault.textContent = vault_size;
                vault_progress_bar(percentage);
            }
        }

        function parseNumber(number) {
            return Number(number.replace(/,/g, ''));
        }

        function animate_main_counter(targetCount) {
            const counterElement = document.getElementById('main-balance');
            function animateCounter(startValue, endValue, duration) {
                const startTime = performance.now();
                function updateCounter(currentTime) {
                    const elapsedTime = currentTime - startTime;
                    const progress = Math.min(elapsedTime / duration, 1);
                    const currentCount = Math.floor(startValue + progress * (endValue - startValue));
                    counterElement.textContent = currentCount.toLocaleString('en-US');
                    if (progress < 1) {
                        requestAnimationFrame(updateCounter);
                    }
                }
                requestAnimationFrame(updateCounter);
            }
            const duration = 800;
            animateCounter(parseNumber(counterElement.textContent), targetCount, duration);
        };

       function showA() {
            const counterElement = document.getElementById('confirmationMenu');
            counterElement.classList.remove('hidden1');
            confirmationMenu.classList.add('hidden');
        }

        function load_text() {
            const vault = document.getElementById('vault-text');
            const vaultText = document.getElementById('vault-text-main');
            fitTextToContainer(vault, vaultText);
        }

        function fitTextToContainer(container, textElement) {
            let containerHeight = container.clientHeight;
            let containerWidth = container.clientWidth;
            let fontSize = parseInt(window.getComputedStyle(textElement, null).getPropertyValue('font-size'));

            while ((textElement.scrollHeight > containerHeight || textElement.scrollWidth > containerWidth) && fontSize > 0) {
                fontSize--;
                textElement.style.fontSize = fontSize + 'px';
            }
        }

    </script>  
</body>
</html>